
* {
    box-sizing: border-box;
}
body {
    text-align: center;
    background: rgb(255,255,204);
    overflow: hidden;
    /* background: url('./asset/grass00.png'); */
    margin: 0;
}

/* # is used to target ids in HTML */

canvas {
    background: url('./asset/grass00.png');
    /* background: rgb(38, 187, 75); */
    /* background: rgb(84, 165, 231); */
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    /* margin-top: 30px; */
}