* {
    box-sizing: border-box;
}
.floor{
    position: absolute;
    top: 100;
    left: 0;
    width: 100%;
    height: 100%;
    background: blue;
    background: url('./asset/grass00.png');
} 
body {
    text-align: center;
    /* background: rgb(19, 48, 129); */
    /* background: url('./asset/grass00.png'); */
    margin: 0;
}
/* # is used to target ids in HTML */
canvas {
    background: url('./asset/grass00.png');
    /* background: rgb(236, 240, 237); */
    /* /* margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px; */
}